{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Login</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
          <h2>Login</h2>
           <p>
                <form method="post">
                    <input type="username" class="btn btn-default" placeholder="UserID" name="UID">
                    <input type="password" class="btn btn-default" name="Upass">
                  </form>
            </p>
        </div>
        <div>
            <button class="btn btn-default">Sign-Up</button>
            <button class="btn btn-default">Continue As Guest</button>
            </div>
    </div>
</div>

{% endblock %}
