{% extends "layout.html" %}

{% block content %}

<div>
    <Center><h1>Welcome</h1></Center>
    
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
          <h2>Login</h2>
           <p>
		   	<form method="post">
					<div class="input-group">
      <span class="input-group-addon"><i>Name: </i></span>
      <input id="email" type="text" class="form-control" name="name" placeholder="Enter Your Full Name">
    </div>
	<div class="input-group">
      <span class="input-group-addon">Username:</span><input type="username" class="btn btn-default" placeholder="UserID" name="UID">   </div>
                    
					<div class="input-group">
      <span class="input-group-addon">Password: </span><input type="password" class="btn btn-default" name="Pass">   </div><br>
					<input type="submit" class="btn btn-default" value="Continue"><br>
						</form>
            </p>
        </div>

    </div>
</div>

{% endblock %}
